<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="sign-up-container">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <div class="m-sm-3">
          <h5 class="title text-center">
            <strong>Resend confirmation instructions</strong>
          </h5>
          <hr>
          <div class="form-group">
            <div class="col-sm-12 no-padding">
              <%#= render "users/shared/error_messages", resource: resource %>
            </div>
          </div>              
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.submit "Resend confirmation instructions", class: "btn btn-info form-control"%>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <%= render "users/shared/links" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>