<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h3>नया रचना प्रकार</h3>
        <div class="dropdown-divider"></div>
        <div class="m-sm-4" data-controller= 'article'>
          <!-- <h3 class="card-title">New article</h3>
          <div class="dropdown-divider"></div> -->
          <%= render "form", article_type: @article_type %>
        </div>
        <div class="dropdown-divider"></div>
         <%= link_to "Back to article types", article_types_path %>
      </div>
    </div>
  </div>
</div>
<% content_for :head do %>
  <%= javascript_import_module_tag "custom/article-type-custom" %>
<% end %>