<table class="table">
  <thead class="table-primary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">रचनायें</th>
    </tr>
  </thead>
  <tbody>
    <%
      page = params[:page].blank? ? 0 : (params[:page].to_i - 1)
      page_size = articles.present? ? articles.limit_value : 0
    %>
    <% if articles.present? %>
      <% articles.each_with_index do | article, index | %>
        <tr class="article-item">
          <th scope="row"><%= (page * page_size) + (index + 1) %></th>
          <td>
            <a href="<%= article_by_title_public_articles_path(article.hindi_title)%>">
              <%= article.hindi_title %>
            </a>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">
          There is no data available now.
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="paginate-block">
  <%= paginate articles, remote: true %>
</div>