<div class="card">
  <div class="page-subject-header mb-5">
    <center>श्रीहित पोर्टल विवरण</center>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- <div class="col-md-4" style="text-align: justify; font-size: 20px;">
        <img src="/assets/lalju_icon.jpg" alt="Jay Radhavallbh Lal" class="img-fluid rounded-circle mb-2" width="128" height="128">
      </div> -->
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body text-center">
            <img src="/assets/lalju_icon.jpg" alt="Jay Radhavallbh Lal" class="img-fluid rounded-circle mb-2" width="128" height="128">
            <!-- <h5 class="card-title mb-0">श्रीहित</h5> -->
            <div class="card-title text-primary mt-4" style="font-size:25px;">
              श्रीहित
            </div>
          </div>
          <hr class="my-0">
          <div class="card-body">
            <h2 class="card-title form-control sggstion-hdr mb-3">
              Content Managed By
            </h2>
            <ol class="list-unstyled mb-0 ps-3 sggstion-hdr-txt">
              <li class="mb-1">
                Mahesh Soni <a href="javascript:void(0);">9856854125</a>
              </li>
              <li class="mb-1">
                Umakant Rajpoot <a href="javascript:void(0);">9856854125</a>
              </li>
            </ol>
            <h5 class="card-title form-control sggstion-hdr mt-3 mb-3">
              Designed and Developed By
            </h5>
            <ol class="list-unstyled mb-0 ps-3 sggstion-hdr-txt">
              <li class="mb-1">
                Umakant Rajpoot <a href="javascript:void(0);">9856854125</a>
              </li>
            </ol>
            <h5 class="card-title form-control sggstion-hdr mt-3 mb-3">
              Contact us
            </h5>
            <ol class="list-unstyled mb-0 ps-3 sggstion-hdr-txt">
              <li class="mb-1">
                Email: abcd@gmail.com
              </li>
              <li class="mb-1">
                Phone No: <a href="javascript:void(0);">9874562512</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="about-content">
          श्रीहित वेबसाइट का उद्देशय हमारे संत, भक्त एवं भगवत रसिक जन की वाणियों का एकत्रीकरण है, जिससे ये वाणी एक स्थान पर सभी भक्त जान को सुगमतापूर्वक उपलब्ध हो सके | श्रीहित वेबसाइट एक पब्लिक पेज है यहाँ कोई भी व्यक्ति अपना अकाउंट बनाकर भक्ति रचनाये/भक्तो की वाणी का योगदान कर सकता है | इन सभी रचनाओं को एडमिन के स्वीकृत पश्चात सार्वजनिक रूप से देख जा सकता है | एडमिन की स्वीकृति का विकल्प इसलिए रखा गया है ताकि किसी भी अवांछित व्यक्ति की द्वारा कोई ऐसी रचना पोस्ट न कर सके जो श्रीहित वेबसाइट के मानदंडों के अनुरूप न हो | हर रचना के साथ योगदानकर्ता का नाम प्रदर्शित होगा एवं कोई भी व्यक्ति सम्बंधित योगदानकर्ता की जानकारी भी देख सकता है |
          <br/>
              सभी योगदानकर्ता प्राचीन रसिक/भक्तो की रचनाओं और वाणी के अतिरिक्त लोक साहित्य के भजन/रचनाओं को भी पोस्ट 
          कर सकते है | सभी वैष्णव/भक्तो से निवेदन है कि वे अपना योगदान दे,  जिससे भक्ति साहित्य को आम जन तक सुलभतापूर्वक पहुंचाया जा सके |
        </div>
      </div>
    </div>
  </div>
</div>