<div class="row">
  <div class="card">
    <div class="card-body h-100" style="min-height: 545px;">
      <div class="page-subject-header">
        प्रसंग सूची
      </div>
      <div class="dropdown-divider"></div>
      <div class="row-fluid">
        <% if @contexts.present? %>
          <% @contexts.each do | context | %>
            <%= link_to articles_by_context_public_contexts_path(context.name) do %>
              <div class="context-lbl m-1"><%= context.name %></div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>