<% @comment_children && @comment_children.each do | cmt_id |%>
  $("#comment-body-"+<%= cmt_id %>).remove();
<% end %>
$("#comment-body-"+<%= params[:id] %>).remove();
var comment_elements1 = $("#comment-section").find(".d-flex").length;
if(comment_elements1 == 0){
  $("#comment-section").html(`<div class="d-flex">
      <div class="no-comment-msg">
        There is not comment available now.
      </div>
    </div>`
  );
}