<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 page-subject-header">
          रसिक वाणी/ग्रन्थ रचना
        </div>
        <div class="dropdown-divider"></div>
        <div class="m-sm-4" id="scr-article-list" data-controller="admin-scr-article">
          <%= render "scripture_article", scripture_articles: @scripture_articles %>
        </div>
      </div>
    </div>
  </div>
</div>
