<div class="row" data-controller="admin-article">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body h-400">
		    <span class="col-md-6 text-start article-title text-primary">
		      स्वीकृत रचना सूची 
		    </span>
		    <div class="btn-group fRight">
		    	<a href="<%= admin_articles_path %>" class="text-white btn btn-primary">
				  	<i class="fas fa-list"></i> Index
				  </a>
			  	<a href="javascript:void(0);" class="text-white btn btn-success">
				  	<i class="far fa-check-circle"></i> Approved
				  </a>
			  	<a href="<%= pending_articles_admin_articles_path %>" class="text-white btn btn-warning">
				  	<i class="far fa-hourglass-half"></i> Pending
				  </a>
				</div>
		    <div class="dropdown-divider"></div>
      	<div id="pending_article_list">
	      	<%= render "article_approved", articles: @articles_approved %>
	      </div>
	      <div id="paginate-block">
      		<%= paginate @articles_approved, remote: true if @articles_approved.present? %>
      	</div>
			</div>
		</div>
	</div>
</div>
