<div class="row" data-controller="admin-article">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body h-400">
		    <span class="col-md-6 text-start article-title text-primary">
		      लंबित रचना सूची 
		    </span>
		    <div class="btn-group fRight">
			  	<a href="<%= approved_articles_admin_articles_path %>" class="text-white btn btn-secondary">
				  	Approved
				  </a>
			  	<a href="javascript:void(0);" class="text-white btn btn-primary">
				  	Pending
				  </a>
				</div>
		    <div class="dropdown-divider"></div>
      	<input type=hidden name="authenticity_token" value="<%= form_authenticity_token %>" data-admin-article-target="csrfToken">
      	<div id="pending_article_list">
	      	<%= render "article_pending", articles: @articles_pending %>
	      </div>
	      <div id="paginate-block">
      		<%= paginate @articles_pending, remote: true %>
      	</div>
			</div>
		</div>
	</div>
</div>
