<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body h-100">
        <span class="col-md-6 text-start article-title text-primary">
          रचना सूची 
        </span>
        <div class="dropdown-divider"></div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">S. No.</th>
              <th scope="col">रचना</th>
              <th scope="col">लेखक</th>
              <th scope="col">योगदानकर्ता</th>
              <th scope="col">स्वीकृत/अस्वीकृत</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if @articles.present? %>
              <% 
                page = (@articles.current_page - 1)
                per_page = @articles.limit_value 
              %>
              <% @articles.each_with_index do |article, index| %>
                <% ind = (page * per_page) + (index + 1) %>
                <%= render partial: 'article', locals: {article: article, index: ind } %>
              <% end %>
            <% else %>
              <tr>
                <td colspan="5">
                  <center>अभी कोई डाटा उपलब्ध नहीं है</center>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @articles, remote: true %>
        <% if paginate(@articles).present? %>
          <div class="dropdown-divider"></div>
        <% end %>
        <%= link_to "New article", new_article_path %>
      </div>
    </div>
  </div>
</div>