<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-body">
        <h3>उत्सव अद्यतन प्रपत्र</h3>
        <div class="dropdown-divider"></div>
        <div class="m-sm-4" data-controller= 'article'>
          <!-- <h3 class="card-title">New article</h3>
          <div class="dropdown-divider"></div> -->
          <%= render "form", theme: @theme %>
        </div>
      </div>
    </div>
    <%= link_to "Show this theme", @theme %> |
    <%= link_to "Back to themes", themes_path %>
  </div>
  <div class="col-md-1"></div>
</div>
<% content_for :head do %>
  <%= javascript_import_module_tag "custom/theme-custom" %>
<% end %>