<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-body h-100">
        <span class="col-md-6 text-start article-title text-primary">
          उत्सव सूची 
        </span>
        <div class="dropdown-divider"></div>
        <table class="table table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col" class="col-sm-1">S. No.</th>
              <th scope="col" class="col-sm-5">उत्सव नाम</th>
              <th scope="col" class="col-sm-2">चैप्टर/प्रकरण जोड़े</th>
              <th scope="col" class="col-sm-2">पद/रचना जोड़े</th>
              <th scope="col" class="col-sm-2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @themes.each_with_index do |theme, index| %>
              <%= render partial: 'theme', locals: {theme: theme, index: (index + 1) } %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%= link_to "New themes", new_theme_path %>
  </div>
  <div class="col-md-1"></div>
</div>