<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body h-100">
        <div class="col-md-12 page-subject-header">
          उत्सव सूची 
        </div>
        <div class="dropdown-divider"></div>
        <%= render partial: 'theme', locals: {themes: @themes} %>
      </div>
    </div>
  </div>
</div>