<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-body">
        <h3>नया उत्सव</h3>
        <div class="dropdown-divider"></div>
        <div class="m-sm-4" data-controller= 'article'>
          <%= render "form", theme: @theme %>
        </div>
      </div>
    </div>
    <%= link_to "Back to theme", themes_path %>
  </div>
  <div class="col-md-1"></div>
</div>