<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 page-subject-header">
          नया उत्सव 
        </div>
        <div class="dropdown-divider"></div>
        <div class="m-sm-4" data-controller= 'article'>
          <%= render "form", theme: @theme %>
        </div>
        <div class="dropdown-divider"></div>
        <%= link_to "Back to theme", themes_path %>
      </div>
    </div>
  </div>
</div>
<% content_for :head do %>
  <%= javascript_import_module_tag "custom/theme-custom" %>
<% end %>