<div class="alert alert-danger alert-dismissible fade show" style="display: <%= resource.errors.present? ? 'block' : 'none' %>;" role="alert">
  <div id="alert-message-span" data-target="userprofile.errors">
    <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </div>
  <button type="button" class="btn-close" onclick="$('.alert').hide()" aria-label="Close"></button>
</div>

