<table class="table">
  <thead class="table-dark">
    <tr>
      <th>S. No.</th>
      <th>नए रचनाकार</th>
      <th>सम्प्रदाय</th>
      <th class="d-none d-xl-table-cell">योगदानकर्ता</th>
    </tr>
  </thead>
  <tbody>
    <% if authors.present? %>
      <% authors.each_with_index do |author, index| %>
        <tr>
          <td><%= index +1 %></td>
          <td><%= author.name %> </td>
          <td>
            <%= author.sampradaya.present? ? author.sampradaya.name : "-"%>
          </td>
          <td class="d-none d-xl-table-cell">
            <%= author.user.username %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <td colspan="3">
        अभी रिकॉर्ड उपलब्ध नहीं है.
      </td>
    <% end %>
  </tbody>
</table>