<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body h-50">
		    <div class="col-md-12 page-subject-header">
	        <span>रचनाकार रिपोर्ट्स</span>
	      </div>
			</div>
		</div>
		<div class="card">
			<div class="card-body h-400">	
				<%= column_chart [
				  {name: "Pending", data: @pending_articles},
				  {name: "Approved", data: @approved_articles}
				], stacked: true, colors: ["#ffc107", "#007bff"], xtitle: "रचनाकार", ytitle: "रचना संख्या (स्वीकृत/अस्वीकृत)", title: "रचनायें: स्वीकृत/अस्वीकृत (रचनाकार अनुसार) आधारित रिपोर्ट"   %>
  		</div>
  	</div>
		<div class="card">
			<div class="card-body h-400">
				<%= pie_chart @articles_by_author, donut: true, title: "रचनायें: रचनाकार आधारित रिपोर्ट" %>
			</div>
		</div>
		<div class="card">
			<div class="card-body h-400">
		    <%= line_chart @articles_by_author, xtitle: "रचनाकार", ytitle: "रचना संख्या", title: "रचनायें: रचनाकार आधारित रिपोर्ट" %>
			</div>
		</div>
		<div class="card">
			<div class="card-body h-400">
		    <%= column_chart @articles_by_author, xtitle: "रचनाकार", ytitle: "रचना संख्या", title: "रचनायें: रचनाकार आधारित रिपोर्ट" %>
			</div>
		</div>
	</div>
</div>
