<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Edit this strotum", edit_admin_strotum_path(@strotum) %> |
  <%= link_to "Back to strota", admin_strota_path %>

  <%= button_to "Destroy this strotum", admin_strotum_path(@strotum), method: :delete %>
</div>
