<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">S. No.</th>
      <th scope="col">प्रसंग</th>
      <th scope="col">योगदानकर्ता</th>
    </tr>
  </thead>
  <tbody>
    <% if contexts.present? %>
      <% contexts.each_with_index do |context, index| %>
        <tr>
          <td><%= index +1 %></td>
          <td><%= context.name %> </td>
          <td>
            <%= context.user.username %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <td colspan="3">
        अभी रिकॉर्ड उपलब्ध नहीं है.
      </td>
    <% end %>
  </tbody>
</table>