<div class="row" data-controller="scripture">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card mb-2 page">
      <% if @scripture.present? && @scripture.scripture_type.name == "रसिक वाणी" %>
        <%= render "rasik_vani" %>
      <% elsif @scripture.present? && @scripture.scripture_type.name == "कथायें" %>
         <%= render "story_book" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>