<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="page-subject-header">
          रचनाकार अद्यतन फॉर्म
        </div>
        <div class="dropdown-divider"></div>
        <div class="m-sm-4" data-controller= 'author'>
          <!-- <h3 class="card-title">New article</h3>
          <div class="dropdown-divider"></div> -->
          <%= render "form", author: @author %>
        </div>
        <div class="divider-bdr"></div>
        <%= link_to "रचनाकार देखे", @author %> |
        <%= link_to "रचनाकार सूची", authors_path %>
      </div>
    </div>
  </div>
</div>
<% content_for :head do %>
  <%= javascript_import_module_tag "custom/author-custom" %>
<% end %>
