<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body h-100">
        <div class="col-md-12 page-subject-header">
          रचनाकार/कवि/भक्त सूची  
        </div>
        <div class="dropdown-divider"></div>
        <%= render partial: 'author', locals: {authors: @authors } %>
      </div>
    </div>
  </div>
</div>