<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body h-100">
        <div class="col-md-12 page-subject-header">
          विभिन्न उत्सव के प्रकरण की सूची 
        </div>
        <div class="dropdown-divider"></div>
        <%= render partial: 'theme_chapter', locals: {theme_chapters: @theme_chapters } %>
      </div>
    </div>
  </div>
</div>