<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 page-subject-header">
          खंड/प्रकरण फॉर्म
        </div>
        <div class="dropdown-divider"></div>
        <div class="m-sm-4" data-controller= ''>
          <!-- <h3 class="card-title">New article</h3>
          <div class="dropdown-divider"></div> -->
          <%= render "form", theme_chapter: @theme_chapter %>
        </div>
        <div class="dropdown-divider"></div>
        <%= link_to "उत्सव खंड/प्रकरण सूची देखे", theme_chapters_path %>
      </div>
    </div>
  </div>
</div>
<% content_for :head do %>
  <%= javascript_import_module_tag "custom/theme-chapter-custom" %>
<% end %>
