<% @articles.each do | article |%>
  <li class="list-group-item" role="option" data-autocomplete-value="<%= article.id %>"><%= article.english_title%></li>
<% end %>

<%#= article.english_title + " : " + article.hindi_title %>