<!-- <div class="row">
  <div class="card" style="border: 2px solid gray;">
    <div class="card-body" data-controller="search">
      <%#= render partial: 'search_options'%>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="card page-subject-header">
    <%= params[:context_name] %> ( प्रसंग प्रकार ) : रचना सूची
  </div>
  <div class="card">
    <div class="card-body h-100" id="article-list">
      <% page = params[:page].blank? ?  0 : (params[:page].to_i - 1)%>
      <%= render partial: "public/shared/article", locals: {articles: @articles, page: page, page_size: @page_size} %>
    </div>
  </div>
</div>
<div class="row">
    <%= paginate @articles, remote: true %>
</div>
<% content_for :head do %>
  <%#= javascript_import_module_tag "custom/welcome-custom" %>
<% end %>