<div class="row">
  <div class="card article-type-title">
    <%= params[:article_type] %> ( रचना प्रकार ) : रचना सूची
  </div>
  <div class="card">
    <div class="card-body h-100" id="article-list">
      <% if @articles.present? %>
        <% @articles && @articles.each do | article | %>
          <%= render partial: "public/shared/article", locals: {article: article} %>
        <% end %>
      <% else %>
        There is no data available now.
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <%= paginate @articles, remote: true %>
</div>
<% content_for :head do %>
  <%#= javascript_import_module_tag "custom/welcome-custom" %>
<% end %>