<div class="row">
  <div class="card">
    <div class="card-body h-100" style="min-height: 545px;">
      <div class="row page-subject-header">
        प्रसंग सूची
      </div>
      <div class="dropdown-divider"></div>
      <div class="row-fluid">
        <% if @article_contexts.present? %>
          <% @article_contexts.each do | context | %>
            <%= link_to context.name, articles_by_context_public_articles_path(context.name), class: "btn btn-primary", style: "padding: 5px 20px;" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>