<!-- <div class="row">
  <div class="card" style="border: 2px solid gray;">
    <div class="card-body" data-controller="search">
      <%#= render partial: 'search_options'%>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 ps-0">
    <div class="card article-type-title" style="border: 1px solid gray;background: #3b7ddd;">
      <%= params[:context_name] %> ( प्रसंग प्रकार ) : रचना सूची
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 ps-0">
    <div class="card">
      <div class="card-body h-100" id="article-list">
        <% if @articles.present? %>
          <% @articles && @articles.each do | article | %>
            <%= render partial: "public/shared/article", locals: {article: article} %>
          <% end %>
        <% else %>
          There is no data available now.
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 ps-0">
    <%= paginate @articles, remote: true %>
  </div>
</div>
<% content_for :head do %>
  <%#= javascript_import_module_tag "custom/welcome-custom" %>
<% end %>