<div class="card">
    <div class="card-body" id="article-list">
    <div class="page-subject-header">
      योगदानकर्ता सूची
    </div>
    <div class="dropdown-divider"></div>
    <div class="m-sm-4" data-controller='userprofile'>
      <%= render "user_profile", profiles: @user_profiles %>
    </div>
  </div>
</div>
<% content_for :head do %>
  <%= javascript_import_module_tag "custom/user-profile-custom" %>
<% end %>