<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 page-subject-header">
          संत जीवन वृतांत अद्यतन फॉर्म <br/>
          <div class="contributer-text">
            (यहाँ पर संत/ महात्माओ की जीवन से सम्बंधित घटनाओ/प्रेरक प्रसंग को जोड़ सकते है)
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="m-sm-4 row">
          <div class="col-md-12 offset-0">
            <%= render "form", saint_bio_event: @saint_bio_event, sants: @sants %>
          </div>
        </div>
        <div class="divider-bdr"></div>
        <%= link_to "संत जीवन वृतांत देखे", @saint_bio_event %> |
        <%= link_to "संत जीवन वृतांत सूची", saint_bio_events_path %>
      </div>
    </div>
  </div>
</div>
<% content_for :head do %>
  <%= javascript_import_module_tag "custom/saint-biography-custom" %>
<% end %>
