<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body h-100">
        <div class="col-md-12 page-subject-header">
          टैग्स सूची
        </div>
        <div class="dropdown-divider"></div>
        <table class="table">
          <thead class="table-primary">
            <tr>
              <th scope="col">S. No.</th>
              <th scope="col">टैग्स नाम</th>
              <th scope="col">स्वीकृत/अस्वीकृत</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% 
              page = params[:page].blank? ? 0 : (params[:page].to_i - 1)
              page_size = @tags.present? ? @tags.limit_value : 0
            %>
            <% if @tags.present? %>
              <% @tags.each_with_index do |tag, index| %>
                <% ind = (page * page_size) + (index + 1) %>
                <%= render partial: 'tag', locals: {tag: tag, index: ind } %>
              <% end %>
            <% else %>
              <tr>
                <td colspan="3">
                  <center>अभी कोई डाटा उपलब्ध नहीं है</center>
                </td>
              </tr>
            <% end %> 
          </tbody>
        </table>
        <% if paginate(@tags).present? %>
          <%= paginate @tags, remote: true%>
          <div class="dropdown-divider"></div>
        <% end %>
        <%= link_to "New tag", new_tag_path %>
      </div>
    </div>
  </div>
</div>