<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 page-subject-header">
          अद्यतन प्रसंग फॉर्म
        </div>
        <div class="dropdown-divider"></div>
        <div class="m-sm-4" data-controller= 'author'>
          <!-- <h3 class="card-title">New article</h3>
          <div class="dropdown-divider"></div> -->
          <%= render "form", context: @context %>
        </div>
        <div class="dropdown-divider"></div>
        <%#= link_to "प्रसंग देखे", @context %> 
        <%= link_to "प्रसंग सूची देखे", contexts_path %>
      </div>
    </div>
  </div>
</div>
<% content_for :head do %>
  <%= javascript_import_module_tag "custom/context-custom" %>
<% end %>
