<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-body">
        <h3>प्रसंग</h3>
        <div class="dropdown-divider"></div>
        <div class="m-sm-4" data-controller= 'author'>
          <!-- <h3 class="card-title">New article</h3>
          <div class="dropdown-divider"></div> -->
          <%= render "form", context: @context %>
        </div>
      </div>
    </div>
    <%= link_to "Back to contexts", contexts_path %>
  </div>
  <div class="col-md-1"></div>
</div>