<div class="row">
  <div class="col-md-12">
    <div class="card" data-controller="admin-str-article">
      <div class="card-body">
        <div class="col-md-12 page-subject-header" data-controller="admin-str-article">
          स्त्रोत/आरती रचना सूची
        </div>
        <div class="dropdown-divider"></div>
        <div class="m-sm-4" data-controller="admin-chapter" id="article-list">
          <%= render "strota_article", strota_articles: @strota_articles %>
        </div>
        <div class="dropdown-divider"></div>
        <%#= link_to "नया स्त्रोत/आरती रचना", new_admin_strota_article_path %>
      </div>
    </div>
  </div>
</div>
<% content_for :head do %>
  <%#= javascript_import_module_tag "custom/strota-article-custom" %>
<% end %>