var tithis_txt = "<option value=''>तिथि चयन करे</option>";
<% @all_tithis.each do | tithi | %>
	<% if @month_tithis.index(tithi).present? %>
		tithis_txt += `<option value='<%= tithi %>' style="color:red;">
				<%= tithi %>
			</option>`;
	<% else %>
		tithis_txt += `<option value='<%= tithi %>'>
				<%= tithi %>
			</option>`;
	<% end %>
<% end %>
$("#panchang_tithi_tithi").html(tithis_txt);
