<div class="row">
  <div class="card">
    <div class="card-body h-100" style="min-height: 545px;">
      <div class="row page-subject-header">
        टैग्स सूची
      </div>
      <div class="dropdown-divider"></div>
      <div class="row-fluid">
        <% if @tags.present? %>
          <% @tags.each do | tag | %>
            <%= link_to tag.name, tag_articles_public_tag_path(tag.id, tag.name), class: "tags-txt" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>