<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body h-50">
		    <div class="col-md-12 page-subject-header">
          <span>प्रसंग रिपोर्ट्स</span>
        </div>
			</div>
		</div>
		<div class="card">
			<div class="card-body h-400">	
				<%= column_chart [
				  {name: "अस्वीकृत", data: @pending_articles},
				  {name: "स्वीकृत", data: @approved_articles}
				], stacked: true, colors: ["#ffc107", "#007bff"] %>
  		</div>
  	</div>
		<div class="card">
			<div class="card-body h-400">
				<%= pie_chart @articles_by_context, donut: true, title: "रचनायें: प्रसंग आधारित रिपोर्ट" %>
			</div>
		</div>
		<div class="card">
			<div class="card-body h-400">
		    <%= line_chart @articles_by_context, xtitle: "Date", ytitle: "रचना संख्या", title: "रचनायें: प्रसंग आधारित रिपोर्ट" %>
			</div>
		</div>
		<div class="card">
			<div class="card-body h-400">
		    <%= column_chart @articles_by_context, xtitle: "Date", ytitle: "रचना संख्या", title: "रचनायें: प्रसंग आधारित रिपोर्ट" %>
			</div>
		</div>
	</div>
</div>
