<div class="card">
  <div class="page-subject-header-purple mb-3 fnt-sz-26">
    <%= params[:id] %>
  </div>
  <div class="card-body h-100 pb-2" id="article-list">
    <div class="row" data-scripture-target="pageParent">
      
      <div class="col-md-8 fnt-sz-24">
        <% if @story.present? %>
          <div class="article-pad" data-scripture-target="page" >
            <div class="fnt-sz-22">
              <%= raw @story.story %>
            </div>
          </div>
        <% else %>
          <div class="article-pad" data-scripture-target="page" >
            <div class="fnt-sz-22">
              अनुरोध किया गया डाटा उपलब्ध नही है।
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <div class="page-subject-header-lemon">
          सम्बन्धित बिषय
        </div>
        <% if @stories.present? %>
          <ul class="list-group list-group-flush mb-4">
            <% @stories.each_with_index do | story, index | %>
              <li class="list-group-item">
                <i class="fa-solid fa-book me-2 user-icon text-primary"></i>
                <%= story.title %>
              </li>
            <% end %>
          </ul>
        <% else %>
          There is no more data available now.
        <% end %>
      </div>
    </div>
  </div>
</div>