<div class="card">
  <div class="page-subject-header-purple mb-2 fnt-sz-26">
    <%= @story.title %>
  </div>
  <div class="card-body h-100 pb-2" id="article-list">
    <div class="row" data-scripture-target="pageParent">
      
      <div class="col-md-8 fnt-sz-24">
        <div class="article-pad" data-scripture-target="page" >
          <div class="fnt-sz-22 text-indent-1">
            <%= raw @story.story %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="page-subject-header-lemon">
          सम्बन्धित बिषय
        </div>
        <% if @stories.present? %>
          <ul class="list-group list-group-flush mb-4">
            <% @stories.limit(10).each_with_index do | story, index | %>
              <li class="list-group-item">
                <i class="fa-solid fa-book me-2 user-icon text-primary"></i>
                <%= story.title %>
              </li>
            <% end %>
            <%if @stories.length > 10 %>
              <%= link_to public_stories_path do%>
                <li class="list-group-item">
                  <i class="fa-solid fa-book me-2 user-icon text-primary"></i>
                  View more ...
                </li>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          There is no more data available now.
        <% end %>
      </div>
    </div>
  </div>
</div>