<div class="row">
  <div class="card">
    <div class="card-body h-450">
      <div class="page-subject-header">
        <%= params[:article_type] %> ( रचना प्रकार ) : रचना सूची
      </div>
      <div class="dropdown-divider"></div>
      <div class="row-fluid">
        <% if @article_types.present? %>
          <% @article_types.each do | article_type | %>
            <%= link_to articles_by_type_public_article_types_path(article_type.name) do %>
              <div class="context-lbl m-1"><%= article_type.name %></div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>