<div class="row" data-controller="scripture">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card mb-2 page-a4">
      <div class="card-body h-100 pb-2" id="article-list">
        <div class="page-subject-header-purple mb-5">
          <span class="fnt-sz-26"><%= @strotum.name %> </span>
        </div>
        <div class="row" data-scripture-target="pageParent">
          <div class="col-md-8 fnt-sz-24">
            <div class="article-pad" data-scripture-target="page" >
              <% @articles.each do | article | %>
                <div class="fnt-sz-22">
                  <%= raw article.content %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-4 vm-align">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>