@import "bootstrap";
@import "font-awesome";
@import 'devise/devise';
@import 'css/style';
@import 'articles';
@import 'welcome';
@import 'user_profile';
@import 'theme';
@import 'home';
@import 'about';

.app-icon{
  width:  40px;
  height: 40px;
  border-radius: 40px;
  margin-right:  5px;
  /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}

.collapse{
  .sidebar-item{
    .sidebar-link, a.sidebar-link{
      background: #2b3947 !important;
      border-bottom:  1px solid #222e3c;
    }
  }
}
a:hover{
  text-decoration: none;
}
.h-100{min-height: 100px;}
.h-150{min-height: 150px;}
.h-200{min-height: 200px;}
.h-250{min-height: 250px;}
.h-300{min-height: 300px;}
.h-350{min-height: 350px;}
.h-400{min-height: 400px;}
.h-450{min-height: 450px;}
.h-500{min-height: 500px;}
.fRight{float: right;}
.fLeft{float: left;}