.article-title{
	font-size: 22px;
	font-weight: bold;	
}
.article-content{
	font-size: 18px;
}
.author-mark-txt{
	font-size: 18px;
	font-weight: bold;
}

.article-content{
	background: url("./assets/shrihit1.png") 10px 0px repeat;
}
.article-item{
  box-shadow: #F0F0F0 0px 30px 60px -12px inset, #F0F0F0 0px 18px 36px -18px inset;
  margin-bottom: 5px;
  border-bottom:  1px solid lightgray;
  padding:  5px 10px;
}