.article-title{
	font-size: 24px;
	font-weight: bold;
}
.article-content{
	font-size: 24px;
	font-weight: bold;
}
.author-mark-txt{
	font-size: 18px;
	font-weight: bold;
}
.article-tag-txt{
  font-size: 18px;
}

.article-body{
	// background: url("./assets/shrihit1.png") 10px 0px repeat;
}
.edit-delete-block a{
	font-size: 18px;
}
.article-item{
  box-shadow: #F0F0F0 0px 30px 60px -12px inset, #F0F0F0 0px 18px 36px -18px inset;
  margin-bottom: 5px;
  border-bottom:  1px solid lightgray;
  padding:  5px 10px;
}
.article-title-body{
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,rgba(255,248,243,1)));
  background: -webkit-linear-gradient(90deg,rgba(255,255,255,1) 0%,#b3ffff 100%);
  background: -o-linear-gradient(90deg,rgba(255,255,255,1) 0%, #b3ffff 100%);
  background: -ms-linear-gradient(90deg,rgba(255,255,255,1) 0%,#b3ffff 100%);
  background: linear-gradient(0deg, white 0%, #b3ffff 100%);
  background: -moz-linear-gradient(90deg, white 0%, #b3ffff 100%);
  border-bottom: 2px solid #00e6e6;
  border-top: 1px solid #00e6e6;
  padding: 12px 8px;
}
.export-pdf, .export-pdf:hover{
  font-size: 20px;
  color: red;
  border: 1px solid #3b7ddd;
  padding: 8px 15px;
  border-radius: 50%;
}
.contributer-text{
	font-size: 15px;
	color: rgba(0, 0, 0, 0.5);
	margin-top: -2px;
}

.article-tags-block{
  border: 2px solid gray;
  padding: 15px 10px;
  border-radius: 5px;
}
