.article-title{
	font-size: 24px;
	font-weight: bold;
}
.article-content{
	font-size: 22px;
}
.author-mark-txt{
	font-size: 18px;
	font-weight: bold;
}
.article-tag-txt{
  font-size: 18px;
}

.article-body{
	// background: url("./assets/shrihit1.png") 10px 0px repeat;
}
.edit-delete-block a{
	font-size: 18px;
}
.article-item{
  box-shadow: #F0F0F0 0px 30px 60px -12px inset, #F0F0F0 0px 18px 36px -18px inset;
  margin-bottom: 5px;
  border-bottom:  1px solid lightgray;
  padding:  5px 10px;
}
.article-title-body{
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,rgba(255,248,243,1)));
  background: -webkit-linear-gradient(90deg,rgba(255,255,255,1) 0%,#b3ffff 100%);
  background: -o-linear-gradient(90deg,rgba(255,255,255,1) 0%, #b3ffff 100%);
  background: -ms-linear-gradient(90deg,rgba(255,255,255,1) 0%,#b3ffff 100%);
  background: linear-gradient(0deg, white 0%, #b3ffff 100%);
  background: -moz-linear-gradient(90deg, white 0%, #b3ffff 100%);
  border-bottom: 2px solid #00e6e6;
  border-top: 1px solid #00e6e6;
  padding: 12px 8px;
}
.export-pdf, .export-pdf:hover{
  font-size: 20px;
  color: red;
  border: 1px solid #3b7ddd;
  padding: 8px 15px;
  border-radius: 50%;
}
.contributer-text{
	font-size: 15px;
	color: rgba(0, 0, 0, 0.5);
	margin-top: -2px;
}

.article-tags-block{
  border: 2px solid gray;
  padding: 15px 10px;
  border-radius: 5px;
}
.author-name{
  color: #3b7ddd;
  font-weight: bold;
}


.context-lbl{
  display: inline-block;
  border: 1px solid #e066ff;
  border-radius: 4px;
  padding: 3px 20px;
  color: #8f00b3;
  background: #fae6ff;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}
.tag-lbld,{
  border: 1px solid #e066ff;
  border-radius: 4px;
  padding: 3px 20px;
  color: #8f00b3;
  background: #fae6ff;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}

.article-box{
  //box-shadow: -1px 1px 10px 7px #e6ccff;
  .article-img{
    width:100%;height: 185px;border: 1px solid #9966ff;
  }
  .btm-bdr {
    border-bottom: 2px solid lightgray;
  }
  .article-title{
    font-size: 24px;font-weight: bold;color:#9966ff;
  }
  .user-icon-div{float: left;}
  .user-icon{font-size: 30px;}
  .user-txt{font-weight: bold; }
  .article-text{
    height: 100px;overflow-y: hidden;
  }
}

.strota-item-box{
  .article-img{
    width:100%;height: 145px;border: 1px solid #9966ff;
  }
  .article-type-txt{
    font-size:20px;
    font-weight:bold;
    border-radius: 4px;
    color: chocolate;
    a{color: black;}
  }
  .btm-bdr {
    border-bottom: 2px solid lightgray;
  }
  .article-title{
    font-size: 24px;font-weight: bold;color:#9966ff;
  }
  .user-icon-div{float: left;}
  .user-icon{font-size: 30px;}
  .user-txt{font-weight: bold; }
  .article-text{
    height: 80px;overflow-y: hidden;
    color: gray;
  }
}
.d-block{ display: block; }
.d-iblock{ display: inline-block; }

.srch-lang-box{
  border: 1px solid lightgray;border-radius:4px; padding: 1px 0 0 5px;
}
.card-bodyy {
  flex: 1 1 auto;
  padding: 1.25rem 1rem .75rem 1rem;
}
.srch-box-bdr{
  border: 1px solid gray;
}
