#custom-calendar{
  thead th{
    border: 1px solid lightgray;
  }
  td.cur-month{
    border: 1px solid #00BFFF;
    color: #1E90FF;
    padding: 16px 12px;
  }
  td.not-cur-month{
    // background: #DDD;
    border: 1px solid lightgray;
    padding: 16px 12px;
  }
  .selected{
    border: 3px solid #4169E1 !important;
  }
}
