.tags{
  font-size: 16px;
  background-color:#a366ff;
  color:#fff;
  display: inline-block;
  margin-top: 5px;
  margin-right: 6px;
  border-radius: 4px;
  padding: 4px 10px;
}

.tags:hover{
  color: #FFF;
  background: #F08376;
}

.tags-txt{
  font-size: 16px;
  background-color:#a366ff;
  color:#fff;
  display: inline-block;
  margin-top: 5px;
  margin-right: 6px;
  border-radius: 4px;
  padding: 4px 10px;
}

.tags-txt:hover{
  color: #FFF;
}


.tags-cross{
  margin-left: 8px;
  font-size: 12px;
  margin-top: 10px;
}
.tags-cross:hover{
  cursor: pointer;
}
#tag-list{
  margin-top: 10px;
  magint-bottom: 10px;
} 
.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 3000ms, opacity 3000ms;
}