div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak{ page-break-inside: avoid; }

.pdf-page{
  height:1320px;
  border: 1px solid black;
  margin-bottom: 25px;
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  src: asset('Helvetica Neue.otf') format('otf'),
    asset('Helvetica Neue.ttf', font) format('truetype');
}

/* start pdf header/footer css */
  .header{
    padding: 6px 0px;
    color:  #306EFF;
  }
  .footer{
    padding: 6px 0px;
    color:  #306EFF;
  }
/* end pdf header/footer css */
.col-left {
  width: 24%; display: inline-block; margin-top: 5px;
}
.col-middle {
  width: 50%; display: inline-block; margin-top: -10%;
}
.col-right {
  width: 24%; display: inline-block; margin-top: 5px;
}
.left-image-logo, .right-image-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.middle-image-logo {
  width: 300px;
  height: 125px;
  margin-top: -10%;
}
body{
  /*background: #f5f7fb;*/
  /*background: blue;
  background: url("./assets/shrihit1.png") 10px 0px repeat;*/
}
.dropdown-divider{
  border-top: 1px solid gray;
  margin: 8px 0px;
}
#container{
  width: 100%;
  background: #FFF;
  /*border: 1px solid lightgray;*/
  border-radius:  4px;
  padding:  10px 15px;
}

.article-title{
  background: #F5F5F5;
  padding: 15px 8px;;
  color: #0d6efd;
  border-radius: 4px;
  border-top: 3px solid #3b7ddd;
  border-bottom: 3px solid #3b7ddd;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 25px;
}
.title-text{
  margin-bottom: 5px;
}
.contributer-text {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: -2px;
}
.contributer-text a {
  color: #0d6efd;
}
.article-content{
  font-size: 30px;
  padding: 10px 20px;
  /*  background-image: url(/assets/shrihit1.png) 10px 0px repeat; */
  // background-image: url('/assets/lalji_icon.jpg');
  background: linear-gradient(0deg, white 0%, #b3ffff 100%);
}
.article-author{
  font-size: 18px;
  padding: 0 20px 8px;
  color: #3b7ddd;
  font-weight: bold;
}
.fLeft{ float:  left; }
.fRight{ float:  right; }
