.sgstion-user-index{
  margin-left: 10px; 
  margin-top: -5px
}
.suggestion-description{
  min-height: 250px;
}
.sgstion-user {
  font-size: 14px;
}
.sgstion-user .username{
  color: #3b7ddd;
}
.suggestion-item{
  box-shadow: #F0F0F0 0px 30px 60px -12px inset, #F0F0F0 0px 18px 36px -18px inset;
  margin-bottom: 5px;
  border-bottom:  1px solid lightgray;
  padding:  5px 10px;
}
.sggstion-hdr{
  border-bottom: 2px solid #3B7DDD;
  border-right: 2px solid #3B7DDD;
  color: #3B7DDD;
}
.sggstion-hdr-txt li{
  font-size: 15px;
}