.theme-chapter-bdr{
  border: 3px solid #fc5203;
  border-radius: 5px;
  padding: 4px 4px;
  margin-top: -15px;  
}
.add-article-icon{
  font-size: 16px;
  border: 1px solid lightgray;
  margin-right: -17px;
  margin-top: -9px;
  margin-bottom: -7px;
  padding: 6px 10px;
  background: #3b7ddd;
  color: white;
}
.add-article-in-theme:hover{
  cursor:pointer;
}
.added-article-icon{
  font-size: 16px;
  border: 1px solid lightgray;
  margin-right: -17px;
  margin-top: -9px;
  margin-bottom: -7px;
  padding: 6px 10px;
  background: #fc5203;
  color: white;
}
.added-article-icon:hover{
  cursor:pointer;
}
.chapter-article-header{
  font-size: 18px;
  font-weight: bold;
  margin-left: -12px;
}
.theme-chapter-name{
  border: 3px solid #fc5203;
  border-radius: 5px; 
}