
.profile-content{
	padding: 5px 4px;
}
.profile-title{
	font-size: 18px;
	font-weight: bold;
	color:  #3b7ddd;
	padding:  4px 10px;
	border: 1px solid #3b7ddd;
	border-radius: 4px;
}

.usr-tbl-border{
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}