.view-icon-div{
	margin: 6px 0px 0px;
	a{
		border: 1px solid;
    border-radius: 2px;
    margin-right: 5px;
    padding: 5px 4px;
  }
  a:hover{
  	text-decoration: none;
  };
}
.search-lbl{
  border-radius: .2rem 0 0 .2rem !important;
}