<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body h-100">
        <div class="col-md-12 page-subject-header">
          रचना प्रकार सूची
        </div>
        <div class="dropdown-divider"></div>
        <table class="table">
          <thead class="table-primary">
            <tr>
              <th scope="col">S. No.</th>
              <th scope="col">रचना प्रकार नाम</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if @article_types.present? %>
              <% @article_types.each_with_index do |article_type, index| %>
                <%= render partial: 'article_type', locals: {article_type: article_type, index: (index + 1) } %>
              <% end %>
            <% else %>
              <tr>
                <td colspan="3">
                  <center>अभी कोई डाटा उपलब्ध नहीं है</center>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @article_types, remote: true %>
        <% if paginate(@article_types).present? %>
          <div class="dropdown-divider"></div>
        <% end %>
        <%= link_to "रचना प्रकार जोड़े", new_admin_article_type_path %>
      </div>
    </div>
  </div>
</div>
