<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 page-subject-header">
          अध्याय अद्यतन फॉर्म
        </div>
        <div class="dropdown-divider"></div>
        <div class="m-sm-4">
          <%= render "form", chapter: @chapter %>
        </div>
        <%= link_to "रसिक वाणी/ग्रन्थ सूची देखे", new_admin_section_path %>
      </div>
    </div>
  </div>
</div>
<% content_for :head do %>
  <%= javascript_import_module_tag "custom/chapter-custom" %>
<% end %>