var options = '<option value="">सेक्शन को चुनिये</option>';

<% @sections && @sections.each do | section | %>
  options = options + '<option value="<%= section.id %>"><%= section.title %></option>'
<% end %>
$("#chapter_section_id").html(options);