<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      .confirm-btn{
        background: #3b7ddd;
        color: #FFF !important;
        padding: 10px 15px;
        border: 1px;
        border-radius: 4px;
        font-size: 15px;
        text-decoration: none;
      }
      .navbar-hdr{
        background: #404040;
        color: #FFF;
        font-size: 25px;
        font-weight: bold;
        padding: 10px 10px 5px;
      }
      .container{
        padding: 5px 15px;
      }
      .mb-1{margin-bottom: 5px;}.mb-2{margin-bottom: 10px;}
      .mb-3{margin-bottom: 15px;}.mb-4{margin-bottom: 20px;}
      .mb-5{margin-bottom: 25px;}
    </style>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-hdr">
        <div class="app-name"> श्रीहित</div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
