<div class="mb-2">
  <strong>
    Hello <%= @resource.username %>
  </strong>
</div>
<div class="mb-4">
  We're contacting you to notify you that your password has been changed.
</div>
<div class="mb-1">
  Regards,<br/>
  <strong>ShriHit Team</strong>
</div>