<div class="mb-2">
  <strong>
    Hello <%= @resource.username %>
  </strong>
</div>
<div class="mb-3">
  Someone has requested a link to change your password. You can do this through the link below.
</div>
<div class="mb-4">
  <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) , class: 'confirm-btn'%>
</div>
<div class="mb-2">
  If you didn't request this, please ignore this email.
</div>
<div class="mb-5">
  Your password won't change until you access the link above and create a new one.
</div>
<div class="mb-1">
  Regards,<br/>
  <strong>ShriHit Team</strong>
</div>